<h2 class = "page-header">Search posts</h2>
<form action = "/posts" method = "GET">
  <div>
    <label>Title</label>
    <input type = "text" name = "title" value ="<%= searchOptions.title %> ">
  </div>

  <div>
    <label>Published after</label>
    <input type = "date" name = "publishedAfter" value ="<%= searchOptions.publishedAfter %> ">
  </div>

  <div>
    <label>Published before</label>
    <input type = "date" name = "publishedBefore" value ="<%= searchOptions.publishedBefore %> ">
  </div>

  <button type = "submit">Search</button>
</form>
<br>
<div>
  <% posts.forEach(post => {%>
    <a href ="posts/<%= post.id  %> ">
      <img height = "150" width = "100" src ="<%= post.coverImagePath %> ">
    </a>
  <% }) %>
</div>